<link href="stylesheets/style.css" rel="stylesheet">
<title>Profile</title>
</head>

<body>
    <div class="header">
        <div class="home-menu pure-menu pure-menu-horizontal pure-menu-fixed">
            <a class="pure-menu-heading" href="/members">Rate Your Roommate</a>
            <ul class="pure-menu-list">
                <li class="pure-menu-item">
                    <form class="pure-form">
                        <div class="search">
                            <input type="text" placeholder="Search..." id="searchBar">
                            <span class="fa fa-search" id="submitSearch"></span>
                        </div>
                    </form>
                </li>
                <li class="pure-menu-item pure-menu-has-children pure-menu-allow-hover">
                    <a href="#" id="menuLink1" class="pure-menu-link"><button class="pure-button-1"> <i
                                class="fa fa-cog"></i></button></a>
                    <ul class="pure-menu-children">
                        <li class="pure-menu-item"><a href="/advancedsearch" class="pure-menu-link quick-link">Search</a></li>
                        <li class="pure-menu-item"><a href="/profile" class="pure-menu-link quick-link">View Profile</a></li>
                        <li class="pure-menu-item"><a href="/edit-profile" class="pure-menu-link quick-link">Edit Profile</a></li>
                        <li class="pure-menu-item"> <a href="/logout" class="pure-menu-link quick-link"> Logout</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>

    <div class="splash-container-1">
        <div class="splash" id="edit-container">
            {{!-- <button id="upload_widget" class="cloudinary-button">Upload Image</button> --}}
            <h1 class="profile-name">{{firstName}} {{lastName}}'s Profile</h1>
            <p class="splash-subhead">
                <button id="upload_widget" class="cloudinary-button">Upload Profile Photo</button>
                <div class="pure-g-1-5 profile-att"> <h4 class="att-type">Gender:</h4>
                    <input type="radio" class="att-opt" id="male" name="gender" value="male">
                    <label for="male">Male</label><br>
                    <input type="radio" class="att-opt" id="female" name="gender" value="female">
                    <label for="female">Female</label><br>
                    <input type="radio" class="att-opt" id="other" name="gender" value="other">
                    <label for="other">Other</label>
                </div>
                <div class="pure-g-1-5 profile-att"> <h4 class="att-type">Pets:</h4>
                    <input type="radio" class="att-opt"id="yesPet" name="pets" value="1">
                    <label for="yespet">Yes</label><br>
                    <input type="radio" class="att-opt"id="noPet" name="pets" value="0">
                    <label for="nopet">No</label><br>
                </div>
                <div class="pure-g-1-5 profile-att"> <h4 class="att-type">Children:</h4>
                    <input type="radio" class="att-opt"id="yesChildren" name="children" value="1">
                    <label for="yesChildren">Yes</label><br>
                    <input type="radio" class="att-opt"id="noChildren" name="children" value="0">
                    <label for="noChildren">No</label><br>
                </div>
                <div class="pure-g-1-5 profile-att"> <h4 class="att-type">Occupation:</h4> <input type="text" name="job" id="job">
                </div>
            </p>
            
            <button id="updateProfile" class="pure-button pure-button-primary">Save changes</button>
        </div>
    </div>







    <script src="https://widget.cloudinary.com/v2.0/global/all.js" type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript">

        $(document).ready(function () {
            let pets = "{{pets}}"
            let gender = "{{gender}}"
            let children = "{{children}}"

            if (pets == "true") {
                $('#yesPet').attr('checked', true);
            } else if (pets == "false") {
                $('#noPet').attr('checked', true);
            } if (children == "true") {
                $('#yesChildren').attr('checked', true);
            } else if (children == "false") {
                $('#noChildren').attr('checked', true);
            } if (gender == "male") {
                $('#male').attr('checked', true);
            } else if (gender === "female") {
                $('#female').attr('checked', true);
            } else if (gender) {
                $('#other').attr('checked', true);
            }

            $.get("/api/user_data/", function(data){
                $("#job").val(data.job);
            })


        })

    </script>
    <script type="text/javascript" src="js/editProfile.js"></script>
    <script type="text/javascript" src="js/searchbar.js"></script>