<link href="stylesheets/style.css" rel="stylesheet">
<title>Profile</title>
</head>

<body>
    <div class="header">
        <div class="home-menu pure-menu pure-menu-horizontal pure-menu-fixed">
            <a class="pure-menu-heading" href="/members">Rate Your Roommate</a>
            <ul class="pure-menu-list">
                <li class="pure-menu-item">
                    <form class="pure-form">
                        <div class="search">
                            <input type="text" placeholder="Search..." id="searchBar">
                            <span class="fa fa-search" id="submitSearch"></span>
                        </div>
                    </form>
                </li>
                <li class="pure-menu-item pure-menu-has-children pure-menu-allow-hover">
                    <a href="#" id="menuLink1" class="pure-menu-link"><button class="pure-button-1"> <i
                                class="fa fa-cog"></i></button></a>
                    <ul class="pure-menu-children">
                        <li class="pure-menu-item"><a href="/advancedsearch" class="pure-menu-link">Search</a></li>
                        <li class="pure-menu-item"><a href="/profile" class="pure-menu-link">Profile</a></li>
                        <li class="pure-menu-item"> <a href="/logout" class="pure-menu-link"> Logout</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>

    <div class="splash-container-1">
        <div class="splash">
            <h1 class="splash-head-1">{{firstName}} {{lastName}}'s Profile</h1>
            <img src="{{avatar}}" alt="Your picture" height="100px" width="auto ">
            <p class="splash-subhead">
                <div class="pure-g-1-5"> Gender: {{gender}}</div>
                <div class="pure-g-1-5"> Pets: {{pets}}</div>
                <div class="pure-g-1-5"> Children: {{children}}</div>
                <div class="pure-g-1-5"> Job: {{job}}</div>
            </p>
        </div>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script type="text/javascript" src="js/profile.js"></script>
        <script type="text/javascript" src="js/searchbar.js"></script>