<link href="../stylesheets/style.css" rel="stylesheet">
<title>View Reviews</title>
</head>

<body>
    <div class="header">
        <div class="home-menu pure-menu pure-menu-horizontal pure-menu-fixed">
            <a class="pure-menu-heading" href="/members">Rate Your Roommate</a>
            <ul class="pure-menu-list">
                <li class="pure-menu-item">
                    <form class="pure-form">
                        <div class="search">
                            <input type="text" placeholder="Search..." id="searchBar">
                            <span class="fa fa-search" id="submitSearch"></span>
                        </div>
                    </form>
                </li>
                <li class="pure-menu-item pure-menu-has-children pure-menu-allow-hover">
                    <a href="#" id="menuLink1" class="pure-menu-link"><button class="pure-button-1"> <i
                                class="fa fa-cog"></i></button></a>
                    <ul class="pure-menu-children">
                        <li class="pure-menu-item"><a href="/rating" class="pure-menu-link">Rate</a></li>
                        <li class="pure-menu-item"><a href="/advancedsearch" class="pure-menu-link">Search</a></li>
                        <li class="pure-menu-item"><a href="/profile" class="pure-menu-link">Profile</a></li>
                        <li class="pure-menu-item"> <a href="/logout" class="pure-menu-link"> Logout</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>

    <div id="layout" class="pure-g">
        <div class="sidebar pure-u-1 pure-u-md-1-4">
            <div class="header">
                <h3 class="brand-title">Reviews for {{reviwee}} </h3>
                <h4 class="brand-tagline">Here's What Others Have Had to Say </h4>
                <nav class="nav">
                    <ul class="nav-list">
                        <li class="nav-item">
                            <a class="pure-button" href="/rating">Leave A Rating</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>

        <div class="content pure-u-1 pure-u-md-3-4">
            <div>
                <div class="posts">
                    <section class="post">
                        <header class="post-header">
                            <h2 class="post-title"> Review of {{reviwee}}</h2>
                        </header>

                        <div class="post-description">
                            <p class="post-meta"> 
                                {{#each review}}
                                <img src="../images/{{stars}}.png" alt="score-of-{{stars}}"> 
                                <p>{{reviwer}}<img width="48" height="48" alt="Tilo Mitra&#x27;s avatar" class="post-avatar" src="img/common/tilo-avatar.png"></p>
                                <p>{{review}}</p>
                                <p>{{/each}}</p>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
    </div>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="../js/search.js"></script>
    <script type="text/javascript" src="../js/searchbar.js"></script>